* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: red;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carosello {
  background: blue;
  display: flex;
  height: 500px;
  width: 500px;
}
.arrowLeft, .arrowRight {
  background: yellow;
  width: 100px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
