* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carosello {
  display: flex;
  width: 500px;
}
.arrowLeft, .arrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}
i {
  color: lightgrey;
}
i:hover{
  color: darkblue;
}
.carosello img {
  width: 100%;
  border-radius: 20px;
  display: none;
}
.carosello img.active {
  display: block;
}
